<div class="kenmerken">
    {% set kenmerken = craft.entries()
        .section('kenmerken')
        .all() %}
    
    {% for kenmerk in kenmerken %}
    <div class="kenmerk">
        <img src="{{ kenmerk.afbeeldingkenmerken.one().url }}" alt="{{ kenmerk.titlekenmerken }}" width="100" height="100">
        <h3>{{ kenmerk.titel }}</h3>
        <p>{{ kenmerk.textkenmerken }}</p>
    </div>
    {% endfor %}
</div>