<div class="kenmerken">
    <div class="kenmerk">
        <img src="{{ siteUrl }}fotos/retour.webp" alt="Gratis retour" width="100" height="100">
        <h3>Gratis Retour</h3>
        <p>Retourneer gratis binnen 60 dagen</p>
    </div>
    <div class="kenmerk">
        <img src="{{ siteUrl }}fotos/levering.webp" alt="Snelle levering" width="100" height="100">
        <h3>Levering Morgen</h3>
        <p>Bestel voor 22:00 uur voor levering morgen</p>
    </div>
    <div class="kenmerk">
        <img src="{{ siteUrl }}fotos/headsetex.webp" alt="Exclusieve headsets" width="100" height="100">
        <h3>Exclusieve Headsets</h3>
        <p>Alleen op deze website verkrijgbaar</p>
    </div>
    <div class="kenmerk">
        <img src="{{ siteUrl }}fotos/mail.webp" alt="24/7 Hulp" width="100" height="100">
        <h3>24/7 Hulp</h3>
        <p>Altijd beschikbaar via mail of chat</p>
    </div>
</div>