<div class="kenmerken">
    {% set kenmerken = craft.entries()
        .section('kenmerken')
        .all() %}
    
    {% set afbeeldingen = ['mail.webp', 'headsetex.webp', 'levering.webp', 'retour.webp'] %}
    
    {% for key, kenmerk in kenmerken %}
        {% set index = key % afbeeldingen|length %}
        {% set afbeeldingNaam = afbeeldingen[index] %}
        <div class="kenmerk">
            <img src="{{ siteUrl('fotos/' ~ afbeeldingNaam) }}" alt="{{ kenmerk.titlekenmerken }}" width="100" height="100">
            <h3>{{ kenmerk.titel }}</h3>
            <p>{{ kenmerk.textkenmerken }}</p>
        </div>
    {% endfor %}
</div>