<footer class="site-footer">
    <div class="footer-content">
        <div class="footer-left">
            <div class="logo">
                <a href=""><img src="{{ siteUrl }}fotos/logo.png" alt="Logo" height="60">
                </a>
            </div>
            <p class="footer-description">Kwaliteit headsets voor de beste prijs</p>
            <div class="social-icons">
                <a href=""> <img src="{{ siteUrl }}fotos/facebook.png" alt="Facebook" height="30"> </a>
                <a href="">  <img src="{{ siteUrl }}fotos/instagram.png" alt="Instagram" height="30"> </a>
                <a href="">  <img src="{{ siteUrl }}fotos/x.png" alt="Twitter" height="30"> </a>
            </div>
        </div>
        <div class="footer-center">
            <p class="footer-title">Navigeer</p>
            <nav>
                <ul class="footer-menu">
                    <li><a href="index.html">Homepagina</a></li>
                    <li><a href="producten.html">Producten</a></li>
                    <li><a href="login.html">Login</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer-right">
            <div class="contact-info">
                <p class="contact-detail">Email: esatesitmez@gmail.com</p>
                <p class="contact-detail">Adres: Jeweestraat 8, 3600 Genk, België</p>
            </div>
        </div>
    </div>
</footer>