<div class="navbar">
    <div class="logo">
        <img src="{{ siteUrl }}fotos/logo.png" height="42px"/>
    </div>
    <a class="active" href="index.html">Homepagina</a>
    <a href="producten.html">Producten</a>
    <div class="login">
        <a href="login.html">Login</a>
    </div>
    <div class="cart">
        <a href="paginanietgevonden.html">  <img src="{{ siteUrl }}fotos/winkelwagen.png"/></a>
        <div class="badge">0</div>
    </div>
</div>